<%= turbo_stream.append "spam-users-table_body" do %>
  <%= render partial: "spam_user_row", locals: { record: @record } %>
<% end %>

<%= turbo_stream.update "flash-container" do %>
  <%= render 'shared/flash_messages' %>
<% end %>

<%= turbo_stream.update "record_form" do %>
  <p class="text-muted">Click [Add User] or [Edit] to load the form.</p>
<% end %>