<%= turbo_stream.replace "customer_row_#{@customer.to_param_id}" do %>
  <%= render partial: "customer_row", locals: { customer: @customer } %>
<% end %>

<%= turbo_stream.update "flash-container" do %>
  <%= render "shared/flash_messages" %>
<% end %>

<%= turbo_stream.update "customer_form" do %>
  <div class="text-center text-muted p-4">
    <i class="bi bi-building fs-1 d-block mb-2"></i>
    Select an action to load the form.
  </div>
<% end %>